<a href="https://colab.research.google.com/github/abhishek97amathe/Assignment/blob/test/assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assigment Questions

In [ ]:
# Question 1
 a ='I am the Boss'

print(a[::-1])

ssoB eht ma I

In [2]:
# Question 2

In [ ]:
# Question 3

c= 'EVE'
c_r = (c[::-1])
if c == c_r:
  print('The given word is palindrome')
else :
  print('The given word is not a palindrome')

The given word is palindrome

In [ ]:
# Question 4

d = 'listen'

d_1 ='silent'

if sorted(d) == sorted(d_1):
  print('The given word is anagrams')
else:
  print('The given word is not anagrams')

The given word is anagrams

Question 5 pending !!!!

In [ ]:
# Question 6

e = 'a,a,a,n,n'
e_e = e.split(',')

print(e_e)

['a', 'a', 'a', 'n', 'n']

In [ ]:
e_e.count('a'),e_e.count('n')

(3, 2)

In [ ]:
# Question 7

f={'Apple', 'Apple 15', 'Samung S24','Apple'}

print(f)

{'Apple 15', 'Samung S24', 'Apple'}

In [ ]:
# Question 8

g= 'nexon is good car, but i love gt vitrus'

g.upper()

'NEXON IS GOOD CAR, BUT I LOVE GT VITRUS'

In [ ]:
# Question 9

h= 'nexon, altors, tiago, harrier, punch'

h_1= h.count(' ')+1

print(h_1)

5

In [ ]:
# question 10

add1 = 'good boy'
add2 = 'bad boy'

print(add1,add2)

good boy bad boy

In [ ]:
# question 11

my_car =['gt vitrus', 'taigun', 'range rover','vela', 'safari', 'harrier']

my_car.remove('range rover')

print(my_car)

['gt vitrus', 'taigun', 'vela', 'safari', 'harrier']

In [ ]:
my_car.pop(-2)

'taigun'

In [ ]:
# question 12

nums =[10,20,30,44,55,99]
nums.sort()
nums[-2]

55

In [ ]:
# Question 13

In [ ]:
#Question 14

In [ ]:
# Question 15
list1 =[22,23,22,26,25.5,36,36,35,30,44]
list(set(list1))

[35, 36, 44, 22, 23, 25.5, 26, 30]

In [ ]:
# Question 16
a=[99,102,106,110,113]
i=0
if a[i]<= a[i+1]:
  print('list in Ascending order',a)
elif a[i]>= a[i+1]:
   print('list in Dscending order',a)
else:
  print('Number are not sorted')

list in Ascending order [99, 102, 106, 110, 113]

In [ ]:
# Question 17
a1 =[0,0.5,0.75]
b1 =[1,2,3]

c = sorted(a1+b1)

print(c)

[0, 0.5, 0.75, 1, 2, 3]

In [ ]:
# Question 18
m1 = ['Mango','Watermelon','Grapes','Puppaya','pineapple']
m2 = ['Mango', 'chikoo','Orange','Pineapple','Grapes']

m =set(m1) & set(m2)

print(m)

{'Grapes', 'Mango'}

In [ ]:
# Question 19
p1 = [99,72,56,11,36]
p2 = [11,23,42,36,65]

p3 =set(p1) | set(p2)

print(p3)

{65, 99, 36, 72, 42, 11, 23, 56}

In [ ]:
# Question 20
car = ['Vitrus','Taigun','Nexon','Creta','Exter']

car1= set(car)
car2=list(car1)

print(car2)

['Nexon', 'Creta', 'Taigun', 'Vitrus', 'Exter']

In [ ]:
# Question 21
tup1= tuple(input(' Enter the tup 1 value' ))
tup2= tuple(input(' Enter the tup 2 value' ))

s= set(tup1) & set(tup2)
tup = tuple(s)

print(tup)

 Enter the tup 1 value123456
 Enter the tup 2 value987654
('5', '4', '6')

In [ ]:
# Question 22

s1 =set(input('Enter the set value'))
s2 =set(input('Enter the set value'))

s = s1 & s2

print(s)

Enter the set value1
Enter the set value21
{'1'}

In [ ]:
# Question 23

t1= tuple(input(' Enter the tuple 1 value'))
t2= tuple(input(' Enter the tuple 2 value'))

t =t1 + t2

print(t)

 Enter the tuple 1 value3
 Enter the tuple 2 value4
('3', '4')

In [ ]:
# Question 24

Str1 = str(input(' Enter the str1 value'))
Str2 = str(input(' Enter the str2 value'))

string_difference =set(Str1) - set(Str2)

print('string_difference = ',string_difference)

 Enter the str1 value1234
 Enter the str2 value9876
string_difference =  {'1', '2', '4', '3'}

In [ ]:
#Question 26
set_1 = set(input('Enter the set data :' , ))
set_2 = set(input('Enter the set data :' , ))

set_union = set_1 | set_2

set_union

Enter the set data :258
Enter the set data :369

{'2', '3', '5', '6', '8', '9'}

In [ ]:
#Question 27
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Unpack the tuple into individual variables
a, b, c, d, e, f, g, h, i, j = tup

max_val = max(a, b, c, d, e, f, g, h, i, j)
min_val = min(a, b, c, d, e, f, g, h, i, j)

print('Maximum value:', max_val)
print('Minimum value:', min_val)

Maximum value: 10
Minimum value: 1

In [ ]:
#Question 28

set_1 ={0,8,10,16,11,19,20}
set_2 = {2,5,8,11,14,19,22}

# Union,Intrsection & Differnce of set_1 & set_2
print('Union :',set_1 | set_2)
print('Intersection :',set_1 - set_2)
print('Difference :',set_1 & set_2)

Union : {0, 2, 5, 8, 10, 11, 14, 16, 19, 20, 22}
Intersection : {0, 16, 10, 20}
Difference : {8, 11, 19}

In [ ]:
#Question 29

tup_5=tuple(input('tuple value: '))
element_count= tuple(input('Occurcence of value'))

count=0

for i in tup_5:
  if i == element_count:
    count =+1

print(count)

tuple value: 1,2,3,2,4,2,5,2
Occurcence of value2
0

In [ ]:
#Question 30

set_1 =set(input('enter the set '))
set_2 =set(input('enter the set '))

#Symmetric_Differnce of set_1 & set_2

print('Symmetric_difference:',set_1 ^ set_2)

enter the set 1,3,5
enter the set 2,3,4
Symmetric_difference: {'1', '5', '2', '4'}

In [ ]:
# Question 32
d1 ={'a':'meteor','b':'hunter', 'c': 'classic'}
d2 = {'c': 'intersecptor', 'd':'himalayan','e':'shotgun'}
d =(d1,d2)
print(d)

({'a': 'meteor', 'b': 'hunter', 'c': 'classic'}, {'c': 'intersecptor', 'd': 'himalayan', 'e': 'shotgun'})